/*RUN BUDDY STYLES START*/
.run-buddy{
    content: "";
    background-image: url(../images/hero-bg.jpg);
}

.projectbody {
    opacity: 1.0;
}
/*RUN BUDDY STYLES END*/
/*HORISEON REFACTOR STYLES START*/
/*HORISEON REFACTOR STYLES END*/
/*FAN PAGE START*/
/*FAN PAGE STYLES END*/