/*PAGE WIDE STYLES START*/
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
}

* a {
    text-decoration: none;
}

:root {
    --primary-color: #eee9e5;
    --secondary-color: #83a0ee;
    --tertiary-color: #39a6b2;
    --header-words: #0004fa71; 
}

.heading2 {
    color: var(--header-words);
    border-bottom: 5px outset aquamarine ;
    text-align: center;
    font-size: 45px;
    width: 50%;
    margin: 10px auto;
}
/*PAGE WIDE STYLES END*/

/*HEADER STYLES START*/
header * {
    background-color: var(--secondary-color);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--secondary-color);
}

header h1 a {
    color: var(--header-words);
}

header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--header-words);
    padding: 10px 30px;
    font-weight: lighter;
    font-size: calc(10px + 1vw);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    font-size: calc(10px + 1vw);
    background-color: var(--primary-color);
}

.dropdown-content a:hover {
    background-color: var(--tertiary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .droplink {
    background-color: var(--tertiary-color);
}


/*HEADER STYLES END*/

/*PROFILE PAGE STYLES START*/
.profile {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.profile-picture {
    margin: 10px;
    height: auto;
    width: 50%;  
    flex: 1 45%;  
}

.profile-picture img {
    max-width: 100%;
    height: auto;
}

.links {
    margin: 20px;
    width: 50%;
    flex: 1 45%;   
    justify-content: center;
    align-items: center; 
}

.links h2 {
    width: 100%;

}

.links ul {
    font-size: 25px;
    justify-content: center;
    width: fit-content;
    line-height: 1.5vw;
    white-space: nowrap;
    align-items: center;
    margin-left: 50px;
}

.links ul li {
    padding-right: 20px;
    margin: 10%;
    line-height: 1.5vw;
}

.bio {
    flex-wrap: wrap;
    flex: 0 70%;
    justify-content: center;
    margin-bottom: 5%;
}

.bio p {
    font-size: 25px;
}
/*PROFILE PAGE STYLES END*/

/*FOOTER STYLES START*/
footer * {
    background-color: var(--secondary-color);
    color: var(--header-words);
}

footer {
    display: flex;
    justify-content: left;
    background-color: var(--secondary-color);
}

footer h2 {
    padding: 10px;
}

footer ul {
    padding: 10px;
    list-style: none;
}

footer ul li, footer ul li a {
    color: black;
}


/*FOOTER STYLES END*/

/*MOBILE CHANGES START*/
@media screen and (max-width: 1024px) {
    body *, header * {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header{
        position: relative;
        }

    header nav {
        line-height: 1.5;
    }
    header nav ul li a {
        font-size: calc(7px + 3vw);
    }
    .links ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .bio {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .links ul li {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
}

/*MOBILE CHANGES END*/